@model NewBrandingStyle.Web.Models.Company.CompanyModel

<h1>Company management</h1>

<h2>Add new company</h2>

<p>...</p>

@using(Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(companyModel => companyModel.Name, "Company name")
        @Html.TextBoxFor(companyModel => companyModel.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(companyModel => companyModel.Description, "Company description")
        @Html.TextBoxFor(companyModel => companyModel.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(companyModel => companyModel.IsVisible, new { @class = "form-check0input "})
        @Html.LabelFor(companyModel => companyModel.IsVisible, "Visible?", new { @class = "form-check-label" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add company</button>
    </div>
}
